flexiboard {   
    > div {                 
        &.theme-messenger {
            &:not(.round-buttons) {
                background: #00c6ff;
                background: -moz-linear-gradient(45deg,  #00c6ff 0%, #0072ff 98%);
                background: -webkit-linear-gradient(45deg,  #00c6ff 0%,#0072ff 98%);
                background: linear-gradient(45deg,  #00c6ff 0%,#0072ff 98%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff',GradientType=1 );      
            }
        
            .flexiboard-key-wrapper {
                .flexiboard-key:not([disabled]) {
                    color: #fff;
                    background: rgba(#fff, 0.1);
                    -webkit-transition: background 150ms ease-in-out;
                    -moz-transition: background 150ms ease-in-out;
                    -o-transition: background 150ms ease-in-out;
                    -ms-transition: background 150ms ease-in-out;
                    transition: background 150ms ease-in-out;

                    &:active {
                        background: rgba(#fff, 0.2);
                    }
                }
                .flexiboard-key[disabled] {
                    color: darken(#fff, 25%);
                    background: lighten(#444, 60%);
                }                
            }
            &:not(.round-buttons) {
                .flexiboard-key-wrapper {
                    .flexiboard-key {
                        margin: 1px;
                    }

                    &:not(.flexiboard-blank):not([disabled]) {
                        .flexiboard-key {
                            &:active {
                                margin: 3px;
                            }
                        }
                    }

                    .flexiboard-key {
                        margin: 3px;
                        &:not([disabled])
                        {outline: solid rgba(#fff, 0.2) 2px;}
                        &[disabled]{outline: solid lighten(#444, 70%) 2px;}
                    
                        &.action-key:not([disabled]) {
                            background: rgba(#00c6ff, 0.4);
                            &:active {
                                background: rgba(#00c6ff, 0.7);
                            }
                        }
                    }
                }
            }

            &.round-buttons {
                .flexiboard-key {                    
                    margin: auto !important;
                    &:not(.action-key):not([disabled]) {
                        background: #00c6ff;
                        background: -moz-linear-gradient(45deg,  #00c6ff 0%, #0072ff 98%);
                        background: -webkit-linear-gradient(45deg,  #00c6ff 0%,#0072ff 98%);
                        background: linear-gradient(45deg,  #00c6ff 0%,#0072ff 98%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff',GradientType=1 );
                    }
                    &.action-key:not([disabled]) {
                        background-color: darken(#0072ff, 10%);
                        background: -moz-linear-gradient(45deg,  darken(#00c6ff, 7%) 0%, darken(#0072ff, 10%) 98%);
                        background: -webkit-linear-gradient(45deg,  darken(#00c6ff, 7%) 0%, darken(#0072ff, 10%) 98%);
                        background: linear-gradient(45deg,  darken(#00c6ff, 7%) 0%, darken(#0072ff, 10%) 98%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff',GradientType=1 );      
                    }
                }
            }            
        }        
    }
}